


.formation-card {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  .formation-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 10px rgba(53, 53, 53, 0.2);
  }

.formation-image {
    height: 210px; /* Définir une hauteur fixe pour toutes les images */
    width: 100%; /* Laisser la largeur s'adapter à l'espace parent */
    object-fit: cover; /* Ajuste l'image pour remplir l'espace sans distorsion */
    border-radius: 8px; /* Optionnel : ajouter des coins arrondis */
  }
  