





ul li{
    list-style: none;
}

#navhaut{
    
    text-decoration: none;
    margin-right: 30px;
    color: rgb(0, 0, 0);
    font-size: 15px;
}

#navhaut:hover{
    color: rgb(1, 84, 97)
}

 button{
    background-color: #1796D3;
    color: white;
    border: none;
    font-family: "Lexend2";
    padding: 10px;
    border-radius: 5px;
}

button:hover{
    background-color: #136c95;
    
}


